.nav-container {
  padding-left: 35px;
  padding-right: 35px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #242424;
}

.nav-txt {
  color: white;
  font-family: "Source Code Pro", monospace;
}

.right-set {
  display: flex;
  width: 400px;
  justify-content: space-between;
}
